body{
    background-image: url("pexels-photo-1382393.jpg");
    margin: 0;
}

.theta .btn {
    display: inline-block;
    margin: 6px;
    font-size: inherit;
    line-height: 1.42;
    padding: 0.7em 1.4em;
    font-weight: normal;
    border-width: 3px;
    border-style: solid;
    background: transparent;
    border-radius: 0;
    cursor: pointer;
    font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
    user-select: none;
    vertical-align: bottom;
    position: relative;
    transform: translate(0.5em -0.4em);
    transition: transform 0.2s;
  }
  .theta .btn.btn-disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
  .theta .btn.btn-disabled:active {
    opacity: 0.6;
  }
  .theta .btn:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translate(0.6em, -0.3em);
    transition: transform 0.2s, background-color 0.2s;
  }
  .theta .btn-primary {
    color: rgb(6, 88, 46);
    border-color: rgb(6, 88, 46);
  }
  .theta .btn-primary:hover {
    transform: translate(0.2em, -0.1em);
  }
  .theta .btn-primary:hover:before {
    transform: translate(-0.4em, 0.4em);
  }
  .theta .btn-primary:active {
    transform: translate(0, 0);
    transition-duration: 0.1s;
  }
  .theta .btn-primary:active:before {
    transition-duration: 0.1s;
    transform: translate(0, 0);
    background-color: #b2f8be;
  }
  .theta .btn-primary:before {
    background-color: #b2f8be;
  }

input{
  padding:10px;
  border-radius:8px;
  border: none;
}

.container{
    max-width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.048);
}

